.main__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
}

@media screen and (max-width: 1400px) {
  .main__buttons {
    justify-content: center;
    flex-direction: column;
   }
}

@media (max-height: 600px) {
  .main__buttons {
    flex-direction: row;
    justify-content: space-between;
   }
}

/* ------------------------------- 600 x 434     */

@media (max-height: 600px) and (max-width: 434px) {
  .main__buttons {
    /* background-color: red; */
    justify-content: center;
  }

}

@media (max-height: 434px) and (max-width: 600px) {
  .main__buttons {
    /* background-color: blue; */
  }
}

/* ------------------------------- 800 x 435     */

@media (max-height: 800px) and (max-width: 435px) {
  .main__buttons {
    /* background-color: red; */
  }

}

@media (max-height: 435px) and (max-width: 800px) {
  .main__buttons {
    /* background-color: blue; */
  }
}
