.header {
  height: 15vh;
  width: 100vw;

  background-color: rgb(24, 24, 24);
  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

  .logo {
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: center;
  }

    .logo__img {
      width: 5vh;
      height: 5vh;
    }

    .logo__title {
      font-size: 3vmax;
      font-weight: lighter;
      color: var(--grey-color);
    }

  .icons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 82vw;
    height: 15vh;
    max-width: 20vw;
    margin-right: 3vmax;
  }

    .icon {
      width: 6vmin;
      cursor: pointer;
      margin-right: 1vw;
      color: var(--grey-color);
      transition: 200ms color linear;
    }

    .icon:hover {
      color: rgb(197, 197, 197);
    }

.logo--accent {
  width: 3.5rem;
  position: absolute;
  left: 7vw;
  top: 3vh;
}

.icon--accent {
  fill: var(--grey-color);
}

@media screen and (max-width: 1400px) {
  .logo__title {
    font-size: 4vmax;
  }
}

@media screen and (max-width: 1000px) {
  .icons {
    left: 78vw;
    height: 15vh;
    max-width: 25vw;
    margin-right: 0;
  }

    .icon {
      width: 3rem;
      margin-right: 0.5rem;
    }
}

@media screen and (max-width: 800px) {
  .logo__title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .icons {
    left: 73vw;
    height: 15vh;
    max-width: 25vw;
    margin-right: 0;
  }

    .icon {
      width: 80%;
      margin-right: 0.5rem;
    }

  .logo--accent {
    width: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .logo__title {
    font-size: 2.5rem;
  }

  .logo--accent {
    width: 2rem;
    top: 4.5vh;
  }
}

@media (max-height: 800px) {
  .logo--accent {
    width: 2.5rem;
    top: 4vh;
  }
}

@media (max-height: 600px) {
  .logo--accent {
    width: 2rem;
    top: 3.5vh;
  }
}

@media (max-height: 450px) {
  .logo--accent {
    width: 1.5rem;
    top: 3vh;
  }
}

@media (max-height: 400px) {
  .icon {
    width: 2rem;
    margin-right: 0.5rem;
  }

  .logo__title {
    font-size: 2rem;
  }

  .logo--accent {
    width: 1.4rem;
    top: 3vh;
  }
}

/* ------------------------------- */

@media (max-height: 600px) and (max-width: 434px) {
  .icon {
    /* background-color: red; */
    width: 70%;
  }

}

@media (max-height: 434px) and (max-width: 600px) {
  .icon {
    /* background-color: blue; */
    width: 50%;
  }
}