.progress {
  margin: 1px;
  height: 2px;
  border-radius: 3px;
}

  .progress--correct {
    background-color: var(--correct-color);
    width: 0;
  }

  .progress--incorrect {
    background-color: var(--incorrect-color);
    width: 0;
  }